body {
    background: #1d1e22;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "TSTAR Mono Round W00 Regular", sans-serif;
    font-size: 2.5em;
    color: #616161;
    min-height: 100vh;
    margin: 0; 
    height: 100%; 
    overflow: hidden
  }
  
  section {
    width: 50%;
  }
  section div {
    display: inline-block;
  }
  
  .tilt-l {
    transform: rotate(-2deg);
  }
  
  .tilt-r {
    transform: rotate(2deg);
  }
  
  .tilt-l2x {
    transform: rotate(-5deg);
  }
  
  .tilt-r2x {
    transform: rotate(5deg);
  }
  
  .hide {
    display: none;
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .justsometext34 {
    font-size: 1.2rem;
  }

  #container {
  .herotext {
    color:#616161;
    height: 10%;
    width: 50%;
    margin-top: 15px;
    h2 {font-size: 0.5em;}
	}
  #first {
    animation: fade-first 15s linear infinite;
  }
  #second {
    animation: fade-second 15s linear infinite;
  }
  #third {
    animation: fade-third 15s linear infinite;
  }
}

@keyframes fade-first {
  0% {opacity:0; visibility:hidden;}
  3% {opacity:1; visibility:visible;}
  30% {opacity:1; visibility:visible;}
  33% {opacity:0; visibility:hidden;}
  100% {opacity:0; visibility:hidden;}
}

@keyframes fade-second {
  0% {opacity:0; visibility:hidden;}
  33% {opacity:0; visibility:hidden;}
  36% {opacity:1; visibility:visible;}
  63% {opacity:1; visibility:visible;}
  66% {opacity:0; visibility:hidden;}
  100% {opacity:0; visibility:hidden;}
}

@keyframes fade-third {
  0% {opacity:0; visibility:hidden;}
  66% {opacity:0; visibility:hidden;}
  69% {opacity:1; visibility:visible;}
  96% {opacity:1; visibility:visible;}
  100% {opacity:0; visibility:hidden;}
}